# This is only used for standalone_migrations. In other contexts
# Travis.config.database will be used.

defaults: &defaults
  adapter: postgresql
  host: localhost
  database: travis
  username: postgres
  password:
  logs_database:
    adapter: postgresql
    host: localhost
    database: travis_logs
    username: postgres
    password:


development:
  <<: *defaults

test:
  <<: *defaults
