defaults: &defaults
  log_level: :info
  origin_whitelist: '*'
  allowed_origin: '*'
  log_file_storage_path: /tmp
  database:
    adapter: postgresql
    host: localhost
    database: travis
    username: postgres
    password:
  test_results_database:
    adapter: postgresql
    host: localhost
    database: travis_test_results
    username: postgres
    password:
  logs_database:
    adapter: postgresql
    host: localhost
    database: travis_logs
    username: postgres
    password:
  amqp:
    host: localhost
    port: 5672
    username: travisci_worker
    password: travisci_worker_password
    vhost: travisci.development
  ddtf:
    command_node_queue: commands.windows.ussnode
    node_queue: builds.windows.ussnode
    cancel_command_prefix: cmd.
    email_domain: mail.com
  tsd_utils:
    clusters:
      cluster-name-1: cluster-endpoint-1
      cluster-name-2: cluster-endpoint-2
    executable: TsdValidator
    executable_params: '-param'

production:
  <<: *defaults

  sentry_dsn: http://example.com/...
  test_results:
    results_path: '/tmp/test-results'

development:
  <<: *defaults

test:
  <<: *defaults
